.nc-app:has(> .nc-toast):not(:has(> .nc-backdrop)) .nc-home {
  padding-top: 92px;
}

.nc-app:has(> .nc-toast):not(:has(> .nc-backdrop)) .nc-activate {
  padding-top: 116px;
}

.nc-app:has(> .nc-backdrop) > .nc-toast {
  display: none;
}

.nc-backdrop {
  background: rgba(30, 33, 43, .17);
  backdrop-filter: none;
}
